<aside class="sidebar">

  <div class="sidebar-widget neon-animated-box">
    <div class="sidebar-widget-content">
      <h3>Páginas Internas</h3>
      <ul>
        <li><a routerLink="/noticias" fragment="calendario">Calendario de Emisiones</a></li>
        <li><a routerLink="/catalogo" fragment="autores">Directorio de Autores</a></li>
        <li><a routerLink="/mangas" fragment="convenciones">Guía de Convenciones</a></li>
        <li><a routerLink="/temporadas" fragment="foro">Foro de la Comunidad</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar-widget neon-animated-box">
    <div class="sidebar-widget-content">
      <h3>Plataformas Anime</h3>
      <ul>
        <li><a href="https://crunchyroll.com" target="_blank">Crunchyroll</a></li>
        <li><a href="https://netflix.com" target="_blank">Netflix Anime</a></li>
        <li><a href="https://myanimelist.net" target="_blank">MyAnimeList</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar-widget neon-animated-box">
    <div class="sidebar-widget-content">
      <h3>Trending</h3>
      <ul>
        <li>One Piece</li>
        <li>Jujutsu Kaisen</li>
        <li>Demon Slayer</li>
        <li>Chainsaw Man</li>
      </ul>
    </div>
  </div>

</aside>